.contenedor {
    border: 1px red solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .derecha {
    text-align: right;
  }

  .titulo {
    background-color: darkred; 
    color: white;
    text-align: center;
  }

  .button1 {background-color: #04AA6D;} /* Green */

  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }